<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="MybeanfactoryID" class="com.jason.实例化方式.Factory.Mybeanfactory" ></bean>
<bean id="UserServiceID" factory-bean="MybeanfactoryID" factory-method="CreateService"></bean>








</beans>