<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- 利用name进行匹配构造函数 -->
<!-- <bean id="userID" class="com.jason.DI_Constructor.User">
<constructor-arg name="uid" value="18"></constructor-arg>
<constructor-arg name="username" value="jason"></constructor-arg>
<constructor-arg name="bookdao" ref="BookDaoID"></constructor-arg>
</bean>
 -->
 <bean id="userID" class="com.jason.DI_Constructor.User">
<constructor-arg index="1" type="java.lang.String" value="jason"></constructor-arg>
<constructor-arg index="0" type="java.lang.Integer" value="18"></constructor-arg>
<constructor-arg index="2" ref="BookDaoID"></constructor-arg>
</bean>





<bean id="BookDaoID" class="com.jason.DI_Constructor.BookDao">

</bean>






</beans>